<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.2/phpunit.xsd"
         bootstrap="tests/Install/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
  <testsuites>
    <testsuite name="VertoAD Backend">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <coverage includeUncoveredFiles="true" pathCoverage="false"/>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_INSTALLED" value="true"/>
    <env name="VERTOAD_INSTALL_TEST_BYPASS" value="true"/>
  </php>
</phpunit>
